doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0",description="Market website")
    block pagetitle
      title Create Product
    link(rel="stylesheet" , href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css")
    link(rel="stylesheet" , href="../css/all.min.css")
    link(rel="stylesheet" , href="css/dashboard.css")
  body
    .dashboard
      include pug/layout/dashboard/dashboardslider.pug
      div(class="right-box")            
        include pug/layout/dashboard/dashboardHeader.pug
        div(class="createProduct text-center mt-5")
          h2(class="fs-2 mb-5") Let's Go To Create New Product
          form(class="text-start mx-auto border p-4")
            .container
              .row
                .col-md-6
                  div(class="create-inputs mb-2")  
                    label(class="form-label",for="Title") Title
                    input(type="text",class="form-control",id="Title",placeholder="Enter Product Title")
                .col-md-6    
                  div(class="create-inputs mb-2")
                    label(class="form-label",for="Price") Price
                    input(type="text",class="form-control",id="Price",placeholder="Enter Selling Price")
                
                //- .col-md-6    
                //-   div(class="create-inputs mb-2")  
                //-     label(class="form-label",for="size") size
                //-     select(class="form-control",id="size")
                //-       option(value="small") small
                //-       option(value="mediuum") mediuum
                //-       option(value="larg") larg
                //-       option(value="xlarg") xlarg
                //-       option(value="xxlarge") xxlarge
                .col-md-6      
                  div(class="create-inputs mb-2")  
                    label(class="form-label",for="color") Colors
                    input(type="text",class="form-control",id="color",placeholder="Enter Color")
                .col-md-6    
                  div(class="create-inputs mb-2")  
                    label(class="form-label",for="brand") Brand
                    input(type="text",class="form-control",id="brand",placeholder="Enter Brand")
                .col-md-6    
                  div(class="create-inputs mb-2")  
                    label(class="form-label",for="Description") description
                    input(type="text",class="form-control", placeholder="Description",id="Description")
                .col-md-6    
                  div(class="create-inputs mb-2")  
                    label(class="form-label",for="Category") Category
                    input(type="text",class="form-control",id="Category",placeholder="Enter Category")
                .col-md-6    
                  div(class="create-inputs mb-2")  
                    label(class="form-label",for="subCategory") Sub Category
                    input(type="text",class="form-control",id="subCategory",placeholder="Enter subCategory")    
                .col-md-6    
                  div(class="create-inputs mb-2")  
                    label(class="form-label",for="productname") Quantity
                    input(type="number",class="form-control",id="quantity",placeholder="Enter Qunatity")         
                .col-md-6    
                  div(class="create-inputs mb-2")  
                    label(class="form-label",for="productname") Image
                    input(type="file",class="form-control",accept="image/**",id="file",onchange="productImgFun()")    
                div(class="error text-danger fs-5")
                button(class="btn bg-dark text-light mx-auto mt-3 py-2 px-4",onclick="createproduct()",type="button",style="width:fit-content") Create
    script(src="js/dashboard.js")