include pug/mixins/mixin.pug
include pug/mixins/list.pug
doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1.0",description="Market website")
    block pagetitle
      title Home
    include pug/stylelink
  body
    include pug/layout/smallheader.pug 
    include pug/layout/header.pug
    include pug/layout/bigheader.pug
    include pug/layout/content.pug
    include pug/layout/footer.pug
    include pug/scripts.pug  