.header {
  padding-top: 20px;
  padding-bottom: 20px;
  color: $secondcolor;
  .logo {
    width: 140px;
    margin-right: 80px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  .search {
    flex: 1;
    > div {
      background-color: $maincolor;
      color: #fff;
      cursor: pointer;
      margin-left: -15px;
      transition: 0.3s;
      &:hover {
        background-color: #222;
      }
    }
    @include media(mobile) {
     display: none !important;
    }
  }
  > div {
    a {
      margin-left: 30px;
      transition: 0.3s;
      &:hover {
        color: $maincolor !important;
      }
      @include media(mobile) {
        margin-left: 10px;
      }
      i {
        color: $secondcolor;
      }
    }
  }
  @include media(mobile) {
   justify-content: space-around !important;
  }
}
