div(class="offcanvas offcanvas-start",data-bs-scroll="true" ,id="offcanvasExample" aria-labelledby="offcanvasExampleLabel") 
  div(class="offcanvas-header bg-danger text-light justify-content-center")
    button(type="button",class="btn-close" data-bs-dismiss="offcanvas")
  div(class="offcanvas-body")    
    include categories.pug
    include recent.pug