div(class="custom border my-5 d-none d-md-block")
  div(class="custom-heading py-2 border-bottom px-3 bg-light")
    h6(class="fs-6 mb-0") CUSTOM CMS BLOCK
  div(class="custom-content p-3")    
    img(class="img-fluid" , src="../../assets/customblock.jpg",alt="")
    p(class="mt-4 mb-2") Custom CMS block displayed at the left sidebar on the Catalog Page. Put your own content here: text, html, images, media... whatever you like.
    button(class="btn btn-dark") Read More
div(class="fashion-img pointer d-none d-md-block")        
  img(class="img-fluid" , src="../../assets/fashion-img.jpg",alt="")