div(class="container py-4")
  div(class="d-flex align-items-center header")
    a(class="logo",href="../../index.html")
      img(src="../../assets/logo.png",alt="" class="img-fluid")

    div(class="search d-flex me-3")
      input(type="search",placeholder="Search the store",class="form-control")
      div(class="d-flex justify-content-center align-items-center px-4 py-1")
        i(class="fa-solid fa-magnifying-glass")
    div 
      a(href="#",class="text-decoration-none text-dark d-flex gap-3 align-items-center")
        i(class="fa-solid fa-arrows-rotate border rounded-circle p-2")
        span(class="d-none d-lg-block") Compare
    div 
      a(href="#",class="text-decoration-none text-dark d-flex gap-3 align-items-center")
        i(class="fa-solid fa-heart border rounded-circle p-2")
        span(class="d-none d-lg-block") WishLists