ul(class="list-unstyled star-list")
  li 
    i(class="fa-solid fa-star")
    i(class="fa-solid fa-star")
    i(class="fa-solid fa-star")
    i(class="fa-solid fa-star")
    i(class="fa-solid fa-star")